<div class="wrapper">
    <div class="page-header" style="background-image: url('https://images.pexels.com/photos/962095/pexels-photo-962095.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260')">
        <div class="filter"></div>
        <div class="content-center">
          <div class="container">
            <div class="row">
                  <div class="col-md-6 text-left align-self-center">
                      <div _ngcontent-c3="" class="title-brand">
                          <div _ngcontent-c3="" class="angular-logo" *ngIf="logoB">
                              <img _ngcontent-c3="" alt="" src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/8b/AMD_ryzen_stylized.svg/2000px-AMD_ryzen_stylized.svg.png">
                          </div>
                          <h1 _ngcontent-c3="" class="presentation-title">Features and Performance</h1>
                          <div _ngcontent-c3="" class="fog-low">
                              <img _ngcontent-c3="" alt="" src="assets/img/fog-low.png">
                          </div>
                          <div _ngcontent-c3="" class="fog-low right">
                              <img _ngcontent-c3="" alt="" src="assets/img/fog-low.png">
                          </div>
                      </div>
                      <h5>Introducing the new Intel® Core™ i9+ platform, the premium Intel® mobile platform with Intel® Optane™ memory on board unleashing the power of your computer, enabling it to be more adaptable and more responsive for everyday tasks.</h5>
                      <br>
                      <div class="buttons">
                          <a href="#pablo" class="btn btn-round btn-info btn-lg" style="background:#D12210">
                              Read More
                          </a>
                          <a href="#pablo" class="btn btn-neutral btn-link btn-just-icon">
                              <i class="fa fa-twitter"></i>
                          </a>
                          <a href="#pablo" class="btn btn-neutral btn-link btn-just-icon">
                              <i class="fa fa-facebook-square"></i>
                          </a>
                          <a href="#pablo" class="btn btn-neutral btn-link btn-just-icon">
                              <i class="fa fa-get-pocket"></i>
                          </a>
                        </div>
                      </div>
                      <div class="col-md-6 align-self-end" *ngIf="image">
                          <div class="card-image">
                              <img class="img" src="assets/img/intel/cortana.png" style="width: 100%; height: -webkit-fill-available; width: auto; height:-moz-available; height:fill-available; width: -moz-available;">
                          </div>
                      </div>
                    </div>
                  </div>
                </div>
                
                <div class="moving-clouds" style="background-image: url('../assets/img/clouds.png');  "></div>
    </div>