<footer class="footer footer-black footer-big">
    <div class="container">
        <div class="row">
            <div class="col-md-2 text-center col-sm-3 col-12 ml-auto mr-auto">
                <h4>Creative Tim</h4>
                <div class="social-area">
                    <a class="btn btn-just-icon btn-round btn-facebook">
                        <i class="fa fa-facebook" aria-hidden="true"></i>
                    </a>
                    <a class="btn btn-just-icon btn-round btn-twitter">
                        <i class="fa fa-twitter" aria-hidden="true"></i>
                    </a>
                    <a class="btn btn-just-icon btn-round btn-google">
                        <i class="fa fa-google-plus" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
            <div class="col-md-9 col-sm-9 col-12 ml-auto mr-auto">
                <div class="row">
                    <div class="col-md-3 col-sm-3 col-6">
                        <div class="links">
                            <ul class="uppercase-links stacked-links">
                                <li>
                                    <a href="#paper-kit">
                                        Home
                                    </a>
                                </li>
                                <li>
                                    <a href="#paper-kit">
                                        Discover
                                    </a>
                                </li>
                                <li>
                                    <a href="#paper-kit">
                                        Blog
                                    </a>
                                </li>
                                <li>
                                    <a href="#paper-kit">
                                        Live Support
                                    </a>
                                </li>
                                <li>
                                    <a href="#paper-kit">
                                        Money Back
                                    </a>
                                </li>
                            </ul>

                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-6">
                        <div class="links">
                            <ul class="uppercase-links stacked-links">
                                <li>
                                    <a href="#paper-kit">
                                       Contact Us
                                    </a>
                                </li>
                                <li>
                                    <a href="#paper-kit">
                                       We're Hiring
                                    </a>
                                </li>
                                <li>
                                    <a href="#paper-kit">
                                       About Us
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-6">
                        <div class="links">
                            <ul class="uppercase-links stacked-links">
                                <li>
                                    <a href="#paper-kit">
                                        Portfolio
                                    </a>
                                </li>
                                <li>
                                    <a href="#paper-kit">
                                       How it works
                                    </a>
                                </li>
                                <li>
                                    <a href="#paper-kit">
                                       Testimonials
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-6">
                        <div class="links">
                            <ul class="stacked-links">
                                <li>
                                    <h4>13.723<br> <small>accounts</small></h4>
                                </li>
                                <li>
                                    <h4>55.234<br> <small>downloads</small></h4>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="copyright">
                    <div class="pull-left">
                        © <script>document.write(new Date().getFullYear())</script>2018 Creative Tim, made with love
                    </div>
                    <div class="links pull-right">
                        <ul>
                            <li>
                                <a href="#paper-kit">
                                    Company Policy
                                </a>
                            </li>
                            |
                            <li>
                                <a href="#paper-kit">
                                    Terms
                                </a>
                            </li>
                            |
                            <li>
                                <a href="#paper-kit">
                                    Privacy
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>
</footer>