<div class="section section-dark">
  <div class="container">
      <div class="row">
          <div class="col-md-12"><h4>Similar Products</h4><br></div>
          <div class="col-md-4 col-sm-4">
  <div class="card card-product card-plain">
    <div class="card-image">
      <a href="#paper-kit">
        <img src="https://spartangeek.com/assets/images/hyperion-pc.png" alt="Rounded Image" class="img-rounded img-responsive">
      </a>
      <div class="card-body">
        <div class="card-description">
          <h5 class="card-title">Double Breasted Mini Dress</h5>
          <p class="card-description">Dresses &amp; Skirts</p>
        </div>
        <div class="actions">
          <h5>1.300 €</h5>
        </div>
      </div>
    </div>
  </div>
          </div>
          <div class="col-md-4 col-sm-4">
  <div class="card card-product card-plain">
    <div class="card-image">
      <a href="#paper-kit">
        <img src="https://spartangeek.com/assets/images/agis-pc.png" alt="Rounded Image" class="img-rounded img-responsive">
      </a>
      <div class="card-body">
        <div class="card-description">
          <h5 class="card-title">Chrystal Dress</h5>
          <p class="card-description">Dresses &amp; Skirts</p>
        </div>
        <div class="actions">
          <h5>1.500 €</h5>
        </div>
      </div>
    </div>
  </div>
          </div>
          <div class="col-md-4 col-sm-4">
  <div class="card card-product card-plain">
                <div class="card-image">
                    <a href="#paper-kit">
                        <img src="https://spartangeek.com/assets/images/dreammachine-pc.png" alt="Rounded Image" class="img-rounded img-responsive">
                    </a>
                    <div class="card-body">
                        <div class="card-description">
                            <h5 class="card-title">Chrystal Skirt</h5>
                            <p class="card-description">Only on demand</p>
                        </div>

                        <div class="actions">
                            <h5>1.200 €</h5>
                        </div>
                    </div>
                </div>
  </div>
          </div>
      </div>
  </div>
</div>