<div class="pricing-3 section-image" style="background-image: url('https://images.pexels.com/photos/311458/pexels-photo-311458.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260')">
  <div class="container">
      <div class="row">
          <div class="col-md-6 ml-auto mr-auto text-center">
              <h2 class="title">Pick the best plan for you</h2>
              <h5 class="description">You have Free Unlimited Updates and Premium Support on each package.</h5>
          </div>
      </div>
      <div class="space-top"></div>
      <div class="row">

          <div class="col-md-3 ml-auto mr-auto">
              <div class="card card-pricing" style="background: transparent;">
                  <div class="card-body">
                      <h6 class="card-category" style="color: seashell;">Single User</h6>
                      <div class="card-image">
                          <a href="#paper-kit">
                              <img src="https://s3-us-west-1.amazonaws.com/spartangeek/cc/_showcaseMedium/ac-aero300-1.png?mtime=20180616103012" alt="Rounded Image" class="img-rounded img-responsive">
                          </a>
                      </div>
                      <h3 class="card-title" style="color: seashell;">$29</h3>
                      <p class="card-description" style="color: white;">
                          Here’s a sentence I never expected: we are making...
                      </p>
                      <div class="card-footer">
                          <a href="#pablo" class="btn btn-info btn-round card-link">Choose Plan</a>
                      </div>
                  </div>
              </div>
          </div>

          <div class="col-md-4 mr-auto">
              <div class="card card-pricing" style="background: transparent;">
                  <div class="card-body">
                      <h6 class="card-category"  style="color: seashell;">Small company</h6>
                      <div class="card-image">
                          <a href="#paper-kit">
                              <img src="https://s3-us-west-1.amazonaws.com/spartangeek/cc/_showcaseMedium/win-sframe-1.png?mtime=20180616104557" alt="Rounded Image" class="img-rounded img-responsive">
                          </a>
                      </div>
                      <h3 class="card-title"  style="color: seashell;">$59</h3>
                      <p class="card-description" style="color: white;">

                          Sometimes combining two companies that compete in the same market provides...
                      </p>
                      <div class="card-footer">
                          <a href="#pablo" class="btn btn-neutral btn-round card-link">Choose Plan</a>
                      </div>
                  </div>
              </div>
          </div>

          <div class="col-md-3 mr-auto">
              <div class="card card-pricing" style="background: transparent;">
                  <div class="card-body">
                      <h6 class="card-category"  style="color: seashell;">Large Company</h6>
                      <div class="card-image">
                          <a href="#paper-kit">
                              <img src="https://s3-us-west-1.amazonaws.com/spartangeek/cc/_showcaseSmall/ew-skynetplus-1.png?mtime=20180616103622" alt="Rounded Image" class="img-rounded img-responsive">
                          </a>
                      </div>
                      <h3 class="card-title"  style="color: seashell;">$199</h3>
                      <p class="card-description" style="color: white;">
                          This is good if you are a freelancer of photographer.
                      </p>
                      <div class="card-footer">
                          <a href="#pablo" class="btn btn-info btn-round card-link">Choose Plan</a>
                      </div>
                  </div>
              </div>
          </div>
          </div>
      </div>
  </div>