<div class="section latest-offers ">
    <div class="container">
        <div class="row mb-5">
            <div class="col" style=" text-align: center">
                  <a href="#paper-kit" class="">
                          <img src="https://spartangeek.com/assets/images/gladius-logo.svg" alt="Rounded Image" class="img-rounded img-responsive">
                  </a>
            </div>
        </div>


        <div class="row">
             <div class="col-md-4">
                 <div class="card card-product  card-plain">
                      <h6 class="card-category text-info">Green Velvet Dress</h6>
                     <div class="card-image" >
                         <a href="#paper-kit" id="cardI">
                             <img src="https://s3-us-west-1.amazonaws.com/spartangeek/cc/_showcaseSmall/cor-specalpha-1.png?mtime=20180616104106" alt="Rounded Image" class="img-rounded img-responsive">
                         </a>
                         <div class="card-body">
                             <div class="card-description">
                                 <h5 class="card-title">ESPECIFICACIONES</h5>
                             </div>
                             <div class="row justify-content-md-center">
                                          <div class="col mt-3 p-0" >
                                                  <a href="#paper-kit">
                                                      <div class="author">
                                                              <img src="https://spartangeek.com/assets/images/hd-icn.svg" alt="Circle Image" class="img-circle img-no-padding img-responsive img-raised">
                                                      </div>    
                                                      <span class="name" style="font-size:1em">1 TB</span>                                       
                                                  </a>     
                                          </div>
                                          <div class="col mt-3 p-0">
                                                  <a href="#paper-kit">
                                                      <div class="author">
                                                              <img src="https://spartangeek.com/assets/images/procesor-icn.svg" alt="Circle Image" class="img-circle img-no-padding img-responsive img-raised">
                                                      </div>    
                                                      <span class="name" style="font-size:1em">Ryzen 5</span>                                               
                                                  </a>
                                           </div>
                                        
                             </div>
                             <div class="row justify-content-md-center">            
                                          <div class="col mt-3 pl-0">
                                                  <a href="#paper-kit">
                                                      <div class="author">
                                                              <img src="https://spartangeek.com/assets/images/ram-icn.svg" alt="Circle Image" class="img-circle img-no-padding img-responsive img-raised">
                                                      </div>    
                                                      <span class="name" style="font-size:1em">8 GB DDR4</span>         
                                                  </a>                                       
                                          </div>
                                          <div class="col mt-3 pl-0">
                                                  <a href="#paper-kit">
                                                      <div class="author">
                                                              <img src="https://spartangeek.com/assets/images/gpu.svg" alt="Circle Image" class="img-circle img-no-padding img-responsive img-raised">
                                                      </div>    
                                                      <span class="name" style="font-size:1em">GTX 1080 TI</span> 
                                                  </a>                                          
                                          </div>
                                        
                                  
                              </div>
                              <a href="/">                                            
                                  <h1 class="card-title"><small>$</small>9,499<small>/mo</small></h1>
                              </a>
                         </div>
                     </div>
                 </div>
              </div>
             <div class="col-md-4">
                 <div class="card card-product card-plain">
                      <h6 class="card-category text-info">Crepe and Organza Dress</h6>
                     <div class="card-image">
                         <a href="#paper-kit" id="cardI">
                             <img src="https://s3-us-west-1.amazonaws.com/spartangeek/cc/_showcaseSmall/tt-view27-1.png?mtime=20180616104141" alt="Rounded Image" class="img-rounded img-responsive">
                         </a>
                         <div class="card-body">
                             <div class="card-description">
                                 <h5 class="card-title">ESPECIFICACIONES</h5>
                                 <div class="row justify-content-md-center">
                                      <div class="col mt-3 p-0" >
                                        
                                              <div class="author">
                                                      <img src="https://spartangeek.com/assets/images/hd-icn.svg" alt="Circle Image" class="img-circle img-no-padding img-responsive img-raised">
                                              </div>    
                                              <span class="name" style="font-size:1em">1 TB</span>                                       
                                          
                                          </div>
                                      <div class="col mt-3 p-0">
                                              <div class="author">
                                                      <img src="https://spartangeek.com/assets/images/procesor-icn.svg" alt="Circle Image" class="img-circle img-no-padding img-responsive img-raised">
                                              </div>    
                                              <span class="name" style="font-size:1em">Ryzen 5</span>                                               
                                      </div>
                         </div>
                         <div class="row justify-content-md-center">            
                                      <div class="col mt-3 pl-0">
                                              <div class="author">
                                                      <img src="https://spartangeek.com/assets/images/ram-icn.svg" alt="Circle Image" class="img-circle img-no-padding img-responsive img-raised">
                                              </div>    
                                              <span class="name" style="font-size:1em">8 GB DDR4</span>                                               
                                      </div>
                                      <div class="col mt-3 pl-0">
                                                 
                                              <div class="author">
                                                      <img src="https://spartangeek.com/assets/images/gpu.svg" alt="Circle Image" class="img-circle img-no-padding img-responsive img-raised">
                                              </div>    
                                              <span class="name" style="font-size:1em">GTX 1080 TI</span>                                           
                                      </div>
                                    
                              
                          </div>
                             </div>
                             <h1 class="card-title"><small>$</small>15,499<small>/mo</small></h1>
                         </div>
                     </div>
                 </div>
              </div>
             <div class="col-md-4">
                 <div class="card card-product card-plain">
                      <h6 class="card-category text-info">Lace Mini Dress</h6>
                     <div class="card-image">
                         <a href="#paper-kit" id="cardI">
                             <img src="https://s3-us-west-1.amazonaws.com/spartangeek/cc/_showcaseSmall/5af0e9d70777ee1951ddf90e_ac-battlehawk-3.png?mtime=20180608185122" alt="Rounded Image" class="img-rounded img-responsive">
                         </a>
                         <div class="card-body">
                             <div class="card-description">
                                 <h5 class="card-title">ESPECIFICACIONES</h5>
                                 <p class="card-description">This is a limited edition dress for the fall collection. Comes in 3 colours.</p>
                             </div>
                             <h1 class="card-title"><small>$</small>12,499<small>/mo</small></h1>
                         </div>
                     </div>
                 </div>
              </div>
        </div>


        <div class="separator"></div>


        <div class="container">
              <div class="row mb-5">
                  <div class="col" style=" text-align: center">
                        <a href="#paper-kit" class="">
                                <img src="https://spartangeek.com/assets/images/gladius-logo.svg" alt="Rounded Image" class="img-rounded img-responsive">
                        </a>
                  </div>
              </div>


              <div class="row">
                   <div class="col-md-4">
                       <div class="card card-product card-plain">
                            <h6 class="card-category text-info">Green Velvet Dress</h6>
                           <div class="card-image">
                               <a href="#paper-kit" id="cardI">
                                   <img src="https://s3-us-west-1.amazonaws.com/spartangeek/cc/_showcaseSmall/cor-specalpha-1.png?mtime=20180616104106" alt="Rounded Image" class="img-rounded img-responsive">
                               </a>
                               <div class="card-body">
                                   <div class="card-description">
                                       <h5 class="card-title">ESPECIFICACIONES</h5>
                                   </div>
                                   <div class="row justify-content-md-center">
                                                <div class="col mt-3 p-0" >
                                                        <a href="#paper-kit">
                                                            <div class="author">
                                                                    <img src="https://spartangeek.com/assets/images/hd-icn.svg" alt="Circle Image" class="img-circle img-no-padding img-responsive img-raised">
                                                            </div>    
                                                            <span class="name" style="font-size:1em">1 TB</span>                                       
                                                        </a>     
                                                </div>
                                                <div class="col mt-3 p-0">
                                                        <a href="#paper-kit">
                                                            <div class="author">
                                                                    <img src="https://spartangeek.com/assets/images/procesor-icn.svg" alt="Circle Image" class="img-circle img-no-padding img-responsive img-raised">
                                                            </div>    
                                                            <span class="name" style="font-size:1em">Ryzen 5</span>                                               
                                                        </a>
                                                 </div>
                                              
                                   </div>
                                   <div class="row justify-content-md-center">            
                                                <div class="col mt-3 pl-0">
                                                        <a href="#paper-kit">
                                                            <div class="author">
                                                                    <img src="https://spartangeek.com/assets/images/ram-icn.svg" alt="Circle Image" class="img-circle img-no-padding img-responsive img-raised">
                                                            </div>    
                                                            <span class="name" style="font-size:1em">8 GB DDR4</span>         
                                                        </a>                                       
                                                </div>
                                                <div class="col mt-3 pl-0">
                                                        <a href="#paper-kit">
                                                            <div class="author">
                                                                    <img src="https://spartangeek.com/assets/images/gpu.svg" alt="Circle Image" class="img-circle img-no-padding img-responsive img-raised">
                                                            </div>    
                                                            <span class="name" style="font-size:1em">GTX 1080 TI</span> 
                                                        </a>                                          
                                                </div>
                                              
                                        
                                    </div>
                                    <a href="/">                                            
                                        <h1 class="card-title"><small>$</small>9,499<small>/mo</small></h1>
                                    </a>
                               </div>
                           </div>
                       </div>
                    </div>
                   <div class="col-md-4">
                       <div class="card card-product card-plain">
                            <h6 class="card-category text-info">Crepe and Organza Dress</h6>
                           <div class="card-image">
                               <a href="#paper-kit" id="cardI">
                                   <img src="https://s3-us-west-1.amazonaws.com/spartangeek/cc/_showcaseSmall/tt-view27-1.png?mtime=20180616104141" alt="Rounded Image" class="img-rounded img-responsive">
                               </a>
                               <div class="card-body">
                                   <div class="card-description">
                                       <h5 class="card-title">ESPECIFICACIONES</h5>
                                       <div class="row justify-content-md-center">
                                            <div class="col mt-3 p-0" >
                                              
                                                    <div class="author">
                                                            <img src="https://spartangeek.com/assets/images/hd-icn.svg" alt="Circle Image" class="img-circle img-no-padding img-responsive img-raised">
                                                    </div>    
                                                    <span class="name" style="font-size:1em">1 TB</span>                                       
                                                
                                                </div>
                                            <div class="col mt-3 p-0">
                                                    <div class="author">
                                                            <img src="https://spartangeek.com/assets/images/procesor-icn.svg" alt="Circle Image" class="img-circle img-no-padding img-responsive img-raised">
                                                    </div>    
                                                    <span class="name" style="font-size:1em">Ryzen 5</span>                                               
                                            </div>
                               </div>
                               <div class="row justify-content-md-center">            
                                            <div class="col mt-3 pl-0">
                                                    <div class="author">
                                                            <img src="https://spartangeek.com/assets/images/ram-icn.svg" alt="Circle Image" class="img-circle img-no-padding img-responsive img-raised">
                                                    </div>    
                                                    <span class="name" style="font-size:1em">8 GB DDR4</span>                                               
                                            </div>
                                            <div class="col mt-3 pl-0">
                                                       
                                                    <div class="author">
                                                            <img src="https://spartangeek.com/assets/images/gpu.svg" alt="Circle Image" class="img-circle img-no-padding img-responsive img-raised">
                                                    </div>    
                                                    <span class="name" style="font-size:1em">GTX 1080 TI</span>                                           
                                            </div>
                                          
                                    
                                </div>
                                   </div>
                                   <h1 class="card-title"><small>$</small>15,499<small>/mo</small></h1>
                               </div>
                           </div>
                       </div>
                    </div>
                   <div class="col-md-4">
                       <div class="card card-product card-plain">
                            <h6 class="card-category text-info">Lace Mini Dress</h6>
                           <div class="card-image">
                               <a href="#paper-kit" id="cardI">
                                   <img src="https://s3-us-west-1.amazonaws.com/spartangeek/cc/_showcaseSmall/5af0e9d70777ee1951ddf90e_ac-battlehawk-3.png?mtime=20180608185122" alt="Rounded Image" class="img-rounded img-responsive">
                               </a>
                               <div class="card-body">
                                   <div class="card-description">
                                       <h5 class="card-title">ESPECIFICACIONES</h5>
                                       <p class="card-description">This is a limited edition dress for the fall collection. Comes in 3 colours.</p>
                                   </div>
                                   <h1 class="card-title"><small>$</small>12,499<small>/mo</small></h1>
                               </div>
                           </div>
                       </div>
                    </div>
              </div>

              <div class="separator"></div>


              <div class="container">
                      <div class="row mb-5">
                          <div class="col" style=" text-align: center">
                                <a href="#paper-kit" class="">
                                        <img src="https://spartangeek.com/assets/images/gladius-logo.svg" alt="Rounded Image" class="img-rounded img-responsive">
                                </a>
                          </div>
                      </div>
      
    
                      <div class="row">
                           <div class="col-md-4">
                               <div class="card card-product card-plain">
                                    <h6 class="card-category text-info">Green Velvet Dress</h6>
                                   <div class="card-image">
                                       <a href="#paper-kit" id="cardI">
                                           <img src="https://s3-us-west-1.amazonaws.com/spartangeek/cc/_showcaseSmall/cor-specalpha-1.png?mtime=20180616104106" alt="Rounded Image" class="img-rounded img-responsive">
                                       </a>
                                       <div class="card-body">
                                           <div class="card-description">
                                               <h5 class="card-title">ESPECIFICACIONES</h5>
                                           </div>
                                           <div class="row justify-content-md-center">
                                                        <div class="col mt-3 p-0" >
                                                                <a href="#paper-kit">
                                                                    <div class="author">
                                                                            <img src="https://spartangeek.com/assets/images/hd-icn.svg" alt="Circle Image" class="img-circle img-no-padding img-responsive img-raised">
                                                                    </div>    
                                                                    <span class="name" style="font-size:1em">1 TB</span>                                       
                                                                </a>     
                                                        </div>
                                                        <div class="col mt-3 p-0">
                                                                <a href="#paper-kit">
                                                                    <div class="author">
                                                                            <img src="https://spartangeek.com/assets/images/procesor-icn.svg" alt="Circle Image" class="img-circle img-no-padding img-responsive img-raised">
                                                                    </div>    
                                                                    <span class="name" style="font-size:1em">Ryzen 5</span>                                               
                                                                </a>
                                                         </div>
                                                      
                                           </div>
                                           <div class="row justify-content-md-center">            
                                                        <div class="col mt-3 pl-0">
                                                                <a href="#paper-kit">
                                                                    <div class="author">
                                                                            <img src="https://spartangeek.com/assets/images/ram-icn.svg" alt="Circle Image" class="img-circle img-no-padding img-responsive img-raised">
                                                                    </div>    
                                                                    <span class="name" style="font-size:1em">8 GB DDR4</span>         
                                                                </a>                                       
                                                        </div>
                                                        <div class="col mt-3 pl-0">
                                                                <a href="#paper-kit">
                                                                    <div class="author">
                                                                            <img src="https://spartangeek.com/assets/images/gpu.svg" alt="Circle Image" class="img-circle img-no-padding img-responsive img-raised">
                                                                    </div>    
                                                                    <span class="name" style="font-size:1em">GTX 1080 TI</span> 
                                                                </a>                                          
                                                        </div>
                                                      
                                                
                                            </div>
                                            <a href="/">                                            
                                                <h1 class="card-title"><small>$</small>9,499<small>/mo</small></h1>
                                            </a>
                                       </div>
                                   </div>
                               </div>
                            </div>
                           <div class="col-md-4">
                               <div class="card card-product card-plain">
                                    <h6 class="card-category text-info">Crepe and Organza Dress</h6>
                                   <div class="card-image">
                                       <a href="#paper-kit" id="cardI">
                                           <img src="https://s3-us-west-1.amazonaws.com/spartangeek/cc/_showcaseSmall/tt-view27-1.png?mtime=20180616104141" alt="Rounded Image" class="img-rounded img-responsive">
                                       </a>
                                       <div class="card-body">
                                           <div class="card-description">
                                               <h5 class="card-title">ESPECIFICACIONES</h5>
                                               <div class="row justify-content-md-center">
                                                    <div class="col mt-3 p-0" >
                                                      
                                                            <div class="author">
                                                                    <img src="https://spartangeek.com/assets/images/hd-icn.svg" alt="Circle Image" class="img-circle img-no-padding img-responsive img-raised">
                                                            </div>    
                                                            <span class="name" style="font-size:1em">1 TB</span>                                       
                                                        
                                                        </div>
                                                    <div class="col mt-3 p-0">
                                                            <div class="author">
                                                                    <img src="https://spartangeek.com/assets/images/procesor-icn.svg" alt="Circle Image" class="img-circle img-no-padding img-responsive img-raised">
                                                            </div>    
                                                            <span class="name" style="font-size:1em">Ryzen 5</span>                                               
                                                    </div>
                                       </div>
                                       <div class="row justify-content-md-center">            
                                                    <div class="col mt-3 pl-0">
                                                            <div class="author">
                                                                    <img src="https://spartangeek.com/assets/images/ram-icn.svg" alt="Circle Image" class="img-circle img-no-padding img-responsive img-raised">
                                                            </div>    
                                                            <span class="name" style="font-size:1em">8 GB DDR4</span>                                               
                                                    </div>
                                                    <div class="col mt-3 pl-0">
                                                               
                                                            <div class="author">
                                                                    <img src="https://spartangeek.com/assets/images/gpu.svg" alt="Circle Image" class="img-circle img-no-padding img-responsive img-raised">
                                                            </div>    
                                                            <span class="name" style="font-size:1em">GTX 1080 TI</span>                                           
                                                    </div>
                                                  
                                            
                                        </div>
                                           </div>
                                           <h1 class="card-title"><small>$</small>15,499<small>/mo</small></h1>
                                       </div>
                                   </div>
                               </div>
                            </div>
                           <div class="col-md-4">
                               <div class="card card-product card-plain">
                                    <h6 class="card-category text-info">Lace Mini Dress</h6>
                                   <div class="card-image">
                                       <a href="#paper-kit" id="cardI">
                                           <img src="https://s3-us-west-1.amazonaws.com/spartangeek/cc/_showcaseSmall/5af0e9d70777ee1951ddf90e_ac-battlehawk-3.png?mtime=20180608185122" alt="Rounded Image" class="img-rounded img-responsive">
                                       </a>
                                       <div class="card-body">
                                           <div class="card-description">
                                               <h5 class="card-title">ESPECIFICACIONES</h5>
                                               <p class="card-description">This is a limited edition dress for the fall collection. Comes in 3 colours.</p>
                                           </div>
                                           <h1 class="card-title"><small>$</small>12,499<small>/mo</small></h1>
                                       </div>
                                   </div>
                               </div>
                            </div>
                      </div>



    </div>
</div><!-- section -->
</div>
</div>
